* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

header h1 {
  font-size: 40px;
  padding: 20px 0;
  color: #2a689a;
}

main h2 {
  font-size: 20px;
  padding: 4px 0;
  font-weight: 400;
}

#computer-choice {
  color: rgb(230, 27, 186);
  font-weight: 700;
  font-size: 30px;
  padding: 0 6px;
}

#user-choice {
  color: rgb(214, 13, 214);
  font-weight: 700;
  font-size: 30px;
  padding: 0 6px;
}

#result {
  font-weight: 700;
  font-size: 30px;
  padding: 0 6px;
}

main div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
button {
  padding: 5px 20px;
  margin: 0 10px;
  background: salmon;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background: tomato;
}
